<div class="cover-user-show">
    <div class="container-fluid d-flex flex-column align-items-center">
        <div class="row mt-5">
            <% if user_signed_in? && @user == current_user %>
                <h1 class="font-weight-normal d-flex flex-column align-items-center">マイページ</h1><br>
                <h4 class="font-weight-normal d-flex flex-column align-items-center">名前：<%= @user.name %></h4>
            <% else %>
                <h1 class="font-weight-normal"><%= @user.name %>さんのページ</h1>
            <% end %>
        </div>
        <% unless @user.id == current_user.id %>
            <% if (current_user.following? @user) && (@user.following? current_user) %>
                <% if @isRoom %>
                    <p class="user-show-room"><a href="/rooms/<%= @roomId %>" class="btn btn-primary btn-lg">チャットへ</a></p>
                <% else %>
                    <%= form_with url: rooms_path, model: @room, local: true do |f| %>
                        <%= fields_for @entry do |e| %>
                            <%= e.hidden_field :user_id, value: @user.id %>
                        <% end %>
                        <%= f.submit "チャットを始める", class:"btn btn-primary btn-lg user-show-chat" %>
                    <% end %>
                <% end %>
            <% end %>
        <% end %>
        <% if user_signed_in? && @user == current_user %>
            <p class="d-flex align-self-end">
                <%= link_to "プロフィール編集", edit_user_path(@user), class: "btn btn-success" %>
            </p>
        <% end %>
        <% if current_user != @user %>
            <% if current_user.following?(@user) %>
                <p class="d-flex align-self-end">
                    <%= link_to 'フォローを外す', user_relationships_path(@user.id), data: { turbo_method: :delete }, class: "btn btn-danger" %>
                </p>
                <% else %>
                <p class="d-flex align-self-end">
                    <%=link_to 'フォローする', user_relationships_path(@user.id), data: { turbo_method: :post }, class:"btn btn-success" %>
                </p>
            <% end %>
        <% end %>
        <div class="d-flex w-100 ml-3 mr-3"> 
            <%= profile_image_for(@user, size: "100x100", css_class: "mb-3 profile-img") %>
            <h4 class="ml-3 mb-3 w-100 card profile"><%= @user.profile %></h4>
        </div>
        <div class="d-flex">
            <%= link_to follows_user_path(@user) do %>
                <h6>フォロー<%= @followingUsers.count %></h6>
            <% end %>
            <%= link_to followers_user_path(@user) do %>
                <h6>フォロワー<%= @followerUsers.count %></h6>
            <% end %>
        </div>
        <div class="row mt-5 index-left w-100 g-3 d-flex flex-wrap">
            <% @posts.each do |post| %>
                <div class="one-post">
                    <%= link_to post_path(post), class: "text-decoration-none" do %>
                        <div class="card <%= 'draft-card' if post.draft? %> h-100 d-flex flex-column justify-content-between">
                            <div class="card-body p-2 d-flex flex-column justify-content-between">
                                <div class="d-flex align-items-center mb-1">
                                    <span class="ml-2 text-dark ellipsis"><%= post.instrument %></span>
                                </div>
                                <div class="mb-1 d-flex justify-content-center">
                                    <%= image_tag post.images.first, format: 'jpeg', class: "img-fluid image-thumb mx-auto d-block" %>
                                </div>
                                <div>
                                    <span class="text-muted">
                                        <%= post.published? ? "公開中" : "下書き" %>
                                    </span>
                                </div>
                            </div>
                        </div>
                    <% end %>
                </div>
            <% end %>
        </div>
        <%= paginate @posts %>
    </div>
</div>