<div class="row mb-2 align-self-end">
    <%= form_with method: :get, local: true do |f| %>
        <%= f.text_field :search %>
        <%= f.submit '検索する', name: nil %>
            <% if params[:search].present? %>
                <br><%= '検索結果がありません' %>
            <% end %>
        <% end %>
    </div>
<div class="row mb-2 align-self-end">
    <%= form_with method: :get, local: true, id: 'category_search_form' do |f| %>
        <%= f.select :category_id, @categories.map { |c| [c.name, c.id] }, { include_blank: 'カテゴリを選択' }, class: 'category-select' %>
        <% if params[:category_id].present? && params[:category_id].to_i != 0 %>
            <br><%= 'カテゴリ検索結果がありません' %>
        <% end %>
    <% end %>
</div>
<div class="row index-left w-100">
<% posts.each do |post| %>
    <div class="one-post col-sm-4 mb-3">
        <div class="card h-100">
            <%= link_to post_path(post), class: "text-decoration-none text-dark" do %>
                <div class="card-body p-2">
                    <div class="d-flex align-items-center mb-1">
                        <%= attachment_image_tag post.user, :profile_image, size: '25x25', fallback: "no_image.svg", class: "rounded-circle" %>
                        <span class="ml-2 small"><%= post.user.name %></span>
                    </div>
                    <div class="mb-1 d-flex justify-content-center">
                        <% if post.images.attached? %>
                            <%= image_tag post.images.first, format: 'jpeg', size: "200x120", class: "img-fluid" %>
                        <% end %>
                    </div>
                    <p class="caption mb-0 small"><%= post.instrument %></p>
                    <p class="caption mb-0 small text-muted">
                        <%= "#{post.comments.count}コメント " %><%= " 閲覧数:#{post.view_counts.count}" %>
                    </p>
                </div>
            <% end %>
        </div>
    </div>
<% end %>
</div>
<%= paginate posts %>
