<!DOCTYPE html>
<html>
  <head>
    <title>Tones</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if user_signed_in? %>
      <header class="px-3 py-2">
        <!-- 左側グループ -->
        <div class="d-flex align-items-center me-auto">
          <%= link_to user_path(current_user.id), class: "profile-link d-inline-block me-2 mt-4" do %>
            <%= attachment_image_tag current_user, :profile_image, size: '40x40', fallback: "no_image.svg", class: "rounded-circle" %>
          <% end %>
          <%= link_to "tones", root_path, id: "head-top", class: "text-white nav-link" %>
        </div>

        <!-- 右側メニュー -->
        <div class="d-flex align-items-center">
          <div><%= link_to "投稿する", new_post_path, class: "text-white nav-link" %></div>
          <div><%= link_to "投稿一覧", posts_path, class: "text-white nav-link" %></div>
          <div><%= link_to "下書き一覧", confirm_posts_path, class: "text-white nav-link" %></div>
          <div><%= link_to "ユーザ一覧", users_path, class: "text-white nav-link" %></div>
          <div><%= link_to "DM一覧", rooms_path, class: "text-white nav-link" %></div>
          <div><%= link_to "マイページ", user_path(current_user.id), class:"text-white nav-link" %></div>
          <div><%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete }, class: "text-white nav-link" %></div>
        </div>
      </header>
    <% end %>
    <%= yield %>
  </body>
</html>